openapi: 3.0.0
info:
  title: Ma super messagerie
  version: '1.0'
paths:
  /register:
    post:
      summary: Inscrire un nouvel utilisateur
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/utilisateur'
      responses:
        '200':
          description: OK
  /messages:
    get:
      summary: Retourne la liste des messages
      responses:
        '200':
          description: Liste de messages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/message'
    post:
      summary: Envoie un nouveau message
      requestBody:
        $ref: '#/components/requestBodies/messageBody'
      responses:
        '200':
          description: OK
  /reactions:
    get:
      summary: Lister les reactions emojis d'un message
      parameters:
        - in: query
          name: messageId
          schema:
            type: integer
          required: true
          description: Identifiant du message
      responses:
        '200':
          description: Liste des emojis
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/reactionEmoji'
    post:
      summary: Réagir avec une emoji à un message
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                emoji:
                  description: Emoji de la réaction
                  $ref: '#/components/schemas/reactionEmoji'
                messageId:
                  type: integer
                  description: Identifiant du message
                emetteur:
                  type: string
                  description: Pseudo de l'emetteur du message
      responses:
        '200':
          description: OK
components:
  schemas:
    message:
      type: object
      properties:
        id:
          type: integer
          description: Identifiant (unique) du message
        emetteur:
          type: string
          description: Pseudo de l'emetteur du message
        contenu:
          type: string
          description: Contenu du message
    utilisateur:
      type: object
      properties:
        pseudo:
          type: string
          description: Pseudo de l'utilisateur
        mdp:
          type: string
          description: Mot de passe de l'utilisateur
    reactionEmoji:
      type: string
      description: Identifiant de l'emoji
      enum:
        - "+1"
        - "-1"
        - "coeur"
        - "rire"
  requestBodies:
    messageBody:
      content:
        application/json:
          schema:
            type: object
            properties:
              emetteur:
                type: string
                description: Pseudo de l'emetteur du message
              contenu:
                type: string
                description: Contenu du message
              mdp:
                type: string
                description: Mot de passe (optionnel) pour vérifier l'envoyeur
            example:
              emetteur: quentin
              contenu: Hello world
              mdp: 'optionnel: mon super mot de pase'
servers:
  - url: 'http://supermessagerie.tech'
    variables: {}
